{% extends 'plantillaBase.html' %}
{% block tituloPestana %} Guardar Carrera {% endblock %}
{% block tituloPagina %} Carrera {% endblock %}
{% block mensaje %}
{% if exito %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ exito }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
{% endblock %}
{% block contenido %}
<form action="{% url 'guardarCarrera' %}" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-12 col-md-2 offset-md-3">Escuela</div>
        <div class="col-12 col-md-5">
            <select name="cmbEscuela" class="form-select">
                <option value="0">Seleccionar</option>
                {# for para agregar elementos #}
                {% for objeto in escuelas %}
                    <option value="{{objeto.id}}">{{ objeto.nombre}}</option>
                {% endfor%}
            </select>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 offset-md-3">Nombre</div>
        <div class="col-12 col-md-5">
            <input type="text" name="txtNombre" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 offset-md-3">Versión</div>
        <div class="col-12 col-md-5">
            <input type="number" name="txtVersion" class="form-control">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 offset-md-3">Activo</div>
        <div class="col-12 col-md-5">
            <input type="checkbox" name="chkActivo" class="form-check-input">
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 offset-md-3">Opciones</div>
        <div class="col-12 col-md-5">
            <input type="submit" name="btnGuardar" value="Guardar" class="btn btn-danger float-end">
            <input type="submit" name="btnLimpiar" value="Limpiar" class="btn btn-outline-secondary float-end mx-2">
            <a href="{% url 'listarCarrera' %}" class="btn btn-warning">Listar</a>
        </div>

    </div>
</form>
{% endblock %}
{% block listado %}
{% endblock %}

{# TArea/EJERCICIO: crear plantilla para guardar escuela y alumno #}