{% extends 'plantillaBase.html' %}
{% block tituloPestana %} Usuario {% endblock %}
{% block tituloPagina %} Usuario {% endblock %}
{% block mensaje %}
    {% if exito %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ exito }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
    {% if error %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{ error }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

{% endblock %}
{% block contenido %}
<form action="{% url 'guardarUsuario' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row mt-3">
        <div class="col-12 col-md-6 offset-md-3">
            <table class="table table-responsive">
                {{form.as_table}}
            </table>
        </div>
    </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 col-md-2 offset-md-3">Opciones</div>
        <div class="col-12 col-md-5">
            <input type="submit" name="btnGuardar" value="Guardar" class="btn btn-danger float-end">
            <input type="submit" name="btnLimpiar" value="Limpiar" class="btn btn-outline-secondary float-end mx-2">
        </div>

    </div>
</form>
{% endblock %}
{% block listado %}
<hr>
    <div class="row mt-5">
        <div class="col-12">
            <table class="table table-responsive">
                <tr>
                    <th>imagen</th>
                    <th>Email</th>
                    <th>Nombre</th>
                    <th>1er Apellido</th>
                    <th>2do Apellido</th>

                </tr>
    {% for usuario in listado %}
                <tr>
                    <td><img src="/media/{{usuario.foto}}" alt="no disponible" width="100px" height="100px"></td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido1}}</td>
                    <td>{{usuario.apellido2}}</td>
                </tr>
    {% endfor %}
            </table>
        </div>
    </div>


{% endblock %}

{# EJERCICIO: agregar modificar para carrera #}